*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 400px;
    min-height: 100px;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.selected{
    background-color: rgb(255, 245, 63);
}

.chat{
    padding: 5px;
    margin: 10px 0px;
    border: solid 1px black;
    cursor: pointer;
}

.finish-chat, .delete-chat{
    margin-right: 8px;
    margin-top: 5px;
    padding: 3px;
}

.finished{
    background-color: greenyellow;
}