body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(9, 114, 235);
}

h1{
    color: white;
    font-size: 4em;
}

section{
    min-height: 200px;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

#entrada{
    display: flex;
    flex-direction: column;
}

button{
    height: 25px;
    width: 60px;
    margin: 10px 0px;
}

footer{
    color: white;
}